<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Can Management</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='lotus_aqua_logo.jpg') }}">
</head>
<body class="dashboard">
    <div class="container billing">
        <h1>Billing</h1>
        <table>
            <thead>
                <tr>
                    <th>Billing No</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Water Cans</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Billing</th>
                </tr>
            </thead>
            <tbody>
                {% for dealer, dealer_name in queue %}
                <tr>
                    <td>{{ dealer.token_id }}</td>
                    <td>{{ dealer.dealer_id }}</td>
                    <td>{{ dealer_name }}</td>
                    <td>{{ dealer.water_can_count }}</td>
                    <td>{{ dealer.formatted_date }}</td>
                    <td>{{ dealer.formatted_time }}</td>
                    <td><a class="generate_bill" href="{{ url_for('generate_bill', dealer_id=dealer.dealer_id) }}">Generate Bill</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="/" class="back">Back</a>  
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
            {% for category, message in messages %}
                <li class="flash {{ category }}">
                    {{ message }}
                    <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <script>
        setTimeout(() => {
            document.querySelectorAll('.flash').forEach(el => {
                el.style.transition = "opacity 1s";
                el.style.opacity = '0';
                setTimeout(() => el.style.display='none', 1000);
            });
        }, 5000);
    </script>      
</body>
</html>
