<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Can Management</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='ticket.png') }}">
    <script>
        // Set the page to refresh every 10 seconds
        setInterval(function() {
            location.reload();
        }, 5000);  // 5000 ms = 5 seconds
    </script>
</head>
<body class="dashboard">
    <div class="container">
        <h1>Water Can Ticketing System</h1>
        <h2>Queue (Last 5 Entries)</h2>
        <table>
            <thead>
                <tr>
                    <th>Token No</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Water Cans</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for dealer, dealer_name in queue %}
                <tr>
                    <td>{{ dealer.token_id }}</td>
                    <td>{{ dealer.dealer_id }}</td>
                    <td>{{ dealer_name }}</td>
                    <td>{{ dealer.water_can_count }}</td>
                    <td>{{ dealer.formatted_date }}</td>
                    <td>{{ dealer.formatted_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Show total cans -->
    <div class="total-cans-card total-cans-card-top">
        <h2>Total Cans</h2>
        <div class="total-cans-number">{{ total_cans }}</div>
    </div>
    <a href="/" class="back">Back</a>        

</body>
</html>
