<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate Bill</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="container container-generate-bill">
    <h1>Generate Bill</h1>
    <form method="POST">
        <p><strong>Dealer ID:</strong> {{ dealer_details.dealer_id }}</p>
        <p><strong>Dealer Name:</strong> {{ dealer_details.name }}</p>
        <p><strong>Mobile:</strong> {{ dealer_details.mobile }}</p>
        <p><strong>Item: </strong>{{ item.item_name }} </p>
        <p><strong>Item Price: </strong>₹{{ item.price }} </p>
        <p><strong>Quantity:</strong> ₹{{ dealer.water_can_count}}</p>
        <p><strong>Grand Total Amount:</strong> ₹{{ "%0.2f"|format(dealer.water_can_count * item.price) }}</p>
        <p><strong>Current Balance Due:</strong> ₹{{ account.current_balance or 0 }}</p>
        <label for="paid_amount"><strong>Paid Amount (Gpay):</strong></label>
        <input type="number" name="paid_amount_gpay" required><br>
        <label for="paid_amount"><strong>Paid Amount (Cash):</strong></label>
        <input type="number" name="paid_amount_cash" required><br>

        <button type="submit" class="btn">Generate Bill</button>
    </form>
</div>
    <a href="/billing" class="back">Back</a>        

</body>
</html>
