<!-- history.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dealer History</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='lotus_aqua_logo.jpg') }}">
    <script>
        function enableEdit(rowId) {
            document.querySelector(`#dealer_id_${rowId}`).removeAttribute('readonly');
            document.querySelector(`#water_can_${rowId}`).removeAttribute('readonly');
            document.querySelector(`#update_${rowId}`).style.display = 'inline-block';
            document.querySelector(`#password_${rowId}`).style.display = 'inline-block';
        }
    
        function updateDealer(rowId) {
            const dealerId = document.querySelector(`#dealer_id_${rowId}`).value;
            const waterCanCount = document.querySelector(`#water_can_${rowId}`).value;
            const password = document.querySelector(`#password_${rowId}`).value;
    
            fetch('/update_dealer', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: `dealer_id=${dealerId}&water_can_count=${waterCanCount}&dealer_record_id=${rowId}&password=${password}`
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                if (data.status === "success") window.location.reload();
            })
            .catch(error => console.error("Error:", error));
        }
        // Display a pop-up alert with the error message
        function showMsg(message) {
            alert(message);
        }
        
    </script>
</head>
<body>
    {% if msg %}
        <script>
            // Call the function to show the error message
            showMsg("{{ msg }}");
        </script>
    {% endif %}
    <div class="container history_container">
        <h1>Dealer History</h1>
         <!-- Show total cans -->
         <div class="total-cans-card">
            <h2>Total Cans</h2>
            <div class="total-cans-number">{{ total_cans }}</div>
        </div>
        
        <div class="export-options hide-on-print">
            <form action="/export" method="get">
                <input type="hidden" name="dealer_id" value="{{ request.args.get('dealer_id', '') }}">
                <input type="hidden" name="date_from" value="{{ request.args.get('date_from', '') }}">
                <input type="hidden" name="date_to" value="{{ request.args.get('date_to', '') }}">
                <input type="hidden" name="filter_button" value="{{ request.args.get('filter_button', '') }}">
                <input type="hidden" name="filter_type" value="{{ request.args.get('filter_type', '') }}">
                <button type="submit" class="export-button">Export to Excel</button>
            </form>
            <!-- <form action="{{ url_for('send_email') }}" method="get" style="display: inline;">
                <input class="export-input" type="email" name="email" placeholder="Enter Email" required>
                <input type="hidden" name="dealer_id" value="{{ request.args.get('dealer_id', '') }}">
                <input type="hidden" name="date_from" value="{{ request.args.get('date_from', '') }}">
                <input type="hidden" name="date_to" value="{{ request.args.get('date_to', '') }}">
                <input type="hidden" name="filter_button" value="{{ request.args.get('filter_button', '') }}">
                <input type="hidden" name="filter_type" value="{{ request.args.get('filter_type', '') }}">
                <button type="submit" class="export-button">Send Email</button>
            </form> -->
            <div style="text-align: right; margin-bottom: 10px;">
                <button class="print_btn" onclick="window.print()">
                    🖨️ Print Dealer History
                </button>
            </div>
        </div>
        <a href="/" class="back">Back</a>        

        <h2>All Entries</h2>

        <table class="history_data">
            <thead>
                <tr>
                    <th>Token No</th>
                    <th>Dealer ID</th>
                    <th>Name</th>
                    <th>Water Cans</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th class="history_action">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for dealer, dealer_name in data %}
                <tr>
                    <td>{{ dealer.token_id }}</td>
                    <td><input type="text" id="dealer_id_{{ dealer.id }}" value="{{ dealer.dealer_id }}" readonly></td>
                    <td>{{ dealer_name }}</td>
                    <td><input type="number" id="water_can_{{ dealer.id }}" value="{{ dealer.water_can_count }}" readonly></td>
                    <td>{{ dealer.formatted_date }}</td>
                    <td>{{ dealer.formatted_time }}</td>
                    <td>
                        <button class="edit" onclick="enableEdit({{ dealer.id }})">Edit</button>
                        <input class="password" type="password" id="password_{{ dealer.id }}" placeholder="Enter password" style="display: none;">
                        <button id="update_{{ dealer.id }}" onclick="updateDealer({{ dealer.id }})" style="display: none;">Update</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
</body>
</html>

