<!-- history.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dealer History</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Dealer History</h1>
        
        <form method="GET" class="form">
            <label for="dealer_id">Filter by Dealer ID:</label>
            <input type="text" id="dealer_id" name="dealer_id" value="{{ dealer_id }}">
        
            <label for="date_from">From Date:</label>
            <input type="date" id="date_from" name="date_from" value="{{ date_from }}">
        
            <label for="date_to">To Date:</label>
            <input type="date" id="date_to" name="date_to" value="{{ date_to }}">
        
            <input type="hidden" name="filter_type" value="{{ filter_type }}">

            <button type="submit" name="filter_button" value="submit" class="btn">Filter</button>
        </form>
        <!-- Filter buttons -->
        <div class="filter-buttons">
            <a href="/history?filter_type=1-day" class="filter-button {{ 'active' if filter_type == '1-day' else '' }}">1 Day</a>
            <a href="/history?filter_type=1-month" class="filter-button {{ 'active' if filter_type == '1-month' else '' }}">1 Month</a>
            <a href="/history?filter_type=all" class="filter-button {{ 'active' if filter_type == 'all' else '' }}">All</a>
            <!-- <a href="/history?filter_type=all" class="filter-button">All</a> -->
        </div>
        
         <!-- Show total cans -->
         <div class="total-cans-card">
            <h2>Total Cans</h2>
            <div class="total-cans-number">{{ total_cans }}</div>
        </div>
        
 
        <a href="/" class="back">Back</a>        

        <h2>All Entries</h2>
        <table>
            <thead>
                <tr>
                    <th>Token ID</th>
                    <th>Dealer ID</th>
                    <th>Water Cans</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in data %}
                <tr>
                    <td>{{ entry.token_id }}</td>
                    <td>{{ entry.dealer_id }}</td>
                    <td>{{ entry.water_can_count }}</td>
                    <td>{{ entry.formatted_date }}</td>
                    <td>{{ entry.formatted_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
