<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Can Management</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='lotus_aqua_logo.jpg') }}">
</head>
<body>
    <h1 class="home">Lotus Aqua - Water Can Management</h1>
    <div class="home_window">
        <a href="/data_entry">Data Entry</a><br>
        <a href="/dashboard">Dashboard</a><br>
        <a href="/history">History</a><br>
        <a href="/inactive_dealers">Inactive Dealers</a><br>
        <a href="/dealer_details">Dealers Management</a><br>
        <a href="/monthly_report">Monthly Report</a><br>
    </div>
</body>
</html>
