<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Can Management</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='lotus_aqua_logo.jpg') }}">
</head>
<body>
    <h1 class="home">Lotus</h1>
    {% if admin %}
        <a href="/logout" class="back logout-btn">Logout</a>  
    {% else %}
        <a href="/login" class="back logout-btn login-btn">Login</a>  
    {% endif %}

    <div class="home_window">
        <div class="left_links">
            <h2>Data Entries</h2>
            <!-- <a href="/data_entry">Add Cans</a><br>
            <a href="/dashboard">Dashboard</a><br> -->
            <a class="bg_green" href="/data_entry_and_billing">Billing</a><br>
            <a href="/billing">Billing Queue</a><br>
            <a href="/dealer_accounts">Payment Billing</a><br>
            <a href="/daily_accounts">Day Statement</a><br>
            <a href="/print_daily_credit_dealers_details">Day Credit Details</a><br>
            <a href="/print_daily_gpay_dealers_details">Day Gpay Details</a><br>
        </div>
        <div class="center_links">
            <h2>Managements Tools</h2>
            {% if admin %}
                <a href="/inactive_dealers">Inactive Dealers</a><br>
                <a href="/item_management">Item Management</a><br>
            {% endif %}
                <a href="/dealer_details">Dealers Management</a><br>
                <a href="/material_management">Material Management</a><br>
        </div>
        <div class="right_links">
            <h2>Reports</h2>
            {% if admin %}
                <a href="/history">Dealer History and Edit Cans</a><br>
                <a href="/monthly_report">Monthly Can Report</a><br>
                <a href="/monthly_statement">Monthly Statement</a><br>
                <a href="/billing_history">Billing History</a><br>
                <a href="/payment_billing_history">Payment Billing History</a><br>
            {% else %}
                <a href="/history-mini">Edit Cans</a><br>
            {% endif %}

        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
            {% for category, message in messages %}
                <li class="flash {{ category }}">
                    {{ message }}
                    <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
