<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Can Management</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1 class="home">Home</h1>
    <div class="home_window">
        <a href="/data_entry">Data Entry</a><br>
        <a href="/dashboard">Dashboard</a><br>
        <a href="/history">History</a><br>
        <a href="/inactive_dealers">Inactive Dealers</a><br>
    </div>
</body>
</html>
